<p style="color: green"><%= notice %></p>

<h1 class="text-4xl text-center mt-4 mb-3" >Articles</h1>

<div class="flex justify-center">
  <%= render partial: "search/form", locals: { results: [] } %>
</div>

<%= link_to "Analytics", analytics_path, class: "bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded" %>

<div id="articles" class="mt-4 mx-10">
  <%= render "articles/articles", articles: @articles %>
</div>

<%= link_to "New article", new_article_path %>
