<!-- show.html.erb -->

<div class="container mx-auto p-8">
  <p class="text-2xl font-bold text-blue-700 mb-4"><%= notice %></p>

  <div class="border-2 border-gray-300 p-6 rounded-md shadow-lg mb-8">
    <%= render @article %>
  </div>

  <div class="flex justify-between items-center">
    <%= link_to "Edit this article", edit_article_path(@article), class: "py-2 px-4 bg-yellow-500 text-white font-semibold rounded hover:bg-yellow-600 hover:text-gray-100 mr-4" %>
    <%= link_to "Back to articles", articles_path, class: "py-2 px-4 bg-gray-500 text-white font-semibold rounded hover:bg-gray-600 hover:text-gray-100 mr-4" %>
    <%= button_to "Destroy this article", @article, method: :delete, data: { confirm: "Are you sure?" }, class: "py-2 px-4 bg-red-500 text-white font-semibold rounded hover:bg-red-600 hover:text-gray-100" %>
  </div>
</div>



<!-- <p style="color: green"><%= notice %></p>

<%= render @article %>

<div>
  <%= link_to "Edit this article", edit_article_path(@article) %> |
  <%= link_to "Back to articles", articles_path %>

  <%= button_to "Destroy this article", @article, method: :delete %>
</div> -->
